<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['users']">
      <img src="assets/images/svg/logo.svg" alt="Spaces">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNav" aria-controls="mobileNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobileNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['users']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contact']">contact</a>
        </li>
        <li class="nav-item" *ngIf="currentUser">
          <button class="btn bordered enquire" type="button">enquire</button>
        </li>
        <li class="nav-item" *ngIf="currentUser">
          <button class="btn bordered enquire ml-1" type="button" (click)="logout()">sign out <i class="fa fa-sign-out"></i></button>
        </li>
        <li class="nav-item" *ngIf="!currentUser">
          <button class="btn login-btn bordered" type="button" [routerLink]="['login']">login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>